{templateType Core\View\ImageComponent}
<figure {$attributes}>
    <picture style="aspect-ratio: {$aspect->getFloat()}">
        {$sources}
        {$image}
        {$blurhash}
    </picture>
    <cite class="credit" n:if=$credit>
        {icon 'chevron:right', class: 'tagged icon'}
        {$credit}
    </cite>
    <figcaption n:ifcontent>
        {$caption}
    </figcaption>
</figure>
